ProcessERA5_Surface/composites_data/
ProcessERA5_Surface/corr_data/
ProcessERA5_Surface/diffs_data/
ProcessERA5_Surface/diffs_extremes/
ProcessModelsSurface/corrs_models_extremes/
ProcessModelsSurface/diffs_models_extremes_v2/
ProcessSSTs/correlations_obs/
ProcessSSTs/trends_obs/
ProcessZ500/labels*/
ProcessZ500/labels/
ProcessZ500/results_best_k/
